@import "~assets/styles/base/variables";
@import "~assets/styles/base/mixins";
@import "~assets/styles/vendor/neat/neat";

$bg-color-footer-top: #141518;
$bg-color-footer-bottom: #232427;
$footer-bottom-height: 96px;
$footer-top-height: 18rem;


.footer__inner {
  @include outer-container;
  @include media(xs) {
    padding: 0;
    margin: 0;
  }
}

.footer__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: $footer-top-height;
  background:
    linear-gradient(
      rgba(20, 21, 24, 0.95),
      rgba(20, 21, 24, 0.95)
    );
  background-size: cover;

  @include media(xxs) {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: $footer-top-height;
    line-height: $footer-top-height;
  }
}

.footer__bottom {
  height: $footer-bottom-height;
  background-color: $bg-color-footer-bottom;

  @include media(xs) {
    padding: 0;
    margin: 0;
  }
}

.footer__bottom-left {
  padding-top: 1.6rem;
  padding-left: 3rem;
  font-size: 0.9em;
  color: #d0d4d1;

  @include media(xs) {
    padding: 1.6em;
  }

}

.footer__row {
  padding-bottom: 0.4rem;
}

.footer__main-icon {
  flex: 0;
  color: #d0d4d1;
  font-size: 3.6rem;

  @include media(xxs) {
    display: hidden;
    margin: 0 auto;
  }
}

.footer__main-text {
  flex: 0;
  color: #d0d4d1;
  font-size: 1.6rem;
  letter-spacing: 4px;

  @include media(xxs) {
    margin: 0 auto;
  }
}
