@import "~assets/styles/base/variables";
@import "~assets/styles/base/mixins";

.banner {
  display: flex;
  height: 30rem;

  &__inner {
    @include outer-container;
    display: flex;
    height: 30rem;
    flex-direction: column;
    justify-content: center;
  }

  &__main-title {
    padding: 2rem 0;
    font-size: 3em;
    margin: 0;
    color: #fff;
    text-align: center;
  }

  &__sub-title {
    padding: 0 0 2.5rem 0;
    margin: 0;
    font-size: 1.4em;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Lato';
  }

  &__btn-box {
    display: flex;
    justify-content: center;
  }

  &__btn {
    &:not(:first-of-type) {
      margin-left: 1rem;
    }
  }
}
