@import "~assets/styles/base/variables";
@import "~assets/styles/base/mixins";

.btn {
  background: $action-color;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  display: inline-block;

  @include animate-default(background-color);
  @include activated {
    background: darken($action-color, 3%);
  }

  &--default {
    background: #fff;
    color: $action-color;

    @include activated {
      background: darken(#fff, 10%);
    }
  }
}
