// $action-color: #20a0ff;
$action-color: #232323;
// $action-color-light: #4db3ff;
$action-color-light: #434343;
$border-color-light: #bfcbd9;
$border-color-mid: #8391a5;
$bg-color-footer: #f6f6f6;
$text-color-mid-gray: #555;

$footer-height: 8rem;
$main-nav-height: 50px;

