// $action-color: #20a0ff;
// $action-color: #232323;
$action-color: lighten(#0E3550, 12%);
// $action-color-light: #4db3ff;
$action-color-light: #434343;
$border-color-light: #bfcbd9;
$border-color-mid: #8391a5;

$text-color-mid-gray: #303133;
$bg-color-default: #fff;
$panel-color-default: #222324;

$main-nav-height: 60px;
$success-color: #43CB83;
$failure-color: #FF2336;

