#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #555;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1,
  h2,
  strong {
    color: #333;
  }
}
