@import "~assets/styles/base/variables";
@import "~assets/styles/base/mixins";

h1,
h2,
h3,
strong {
  color: #333;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #555;
  font-family: 'Open Sans','Lato',Helvetica,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  @include media(xs) {
    font-size: 12px;
  }
}
